/*** Colors ***/
$primary-color: color("red", "accent-4");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("teal", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("light-blue", "darken-1");

/*** Fonts ***/
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
}
