main {
  .caption {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
  }

  .fifo-title {
    font-family: 'Comfortaa', cursive;
  }

  .spaceage-title {
    font-family: 'Lato', sans-serif;
  }
}
