nav {
  background-color: $primary-color;
  background-image: url('../images/pinstriped_suit.png');
  border-bottom: 3px solid $secondary-color;

  a:hover {
    color: $secondary-color;
  }

  ul {
    li.active {
      background-color: $secondary-color;
    }
  }
}
