nav {
  background-color: $primary-color;
  background-image: url('../images/pinstriped_suit.png');
  border-bottom: 3px solid $secondary-color;

  a:hover {
    color: $secondary-color;
  }

  ul {
    li:hover {
      background-color: white !important;
      box-shadow: inset 0px -3px $secondary-color;
    }

    li.active {
      background-color: $secondary-color;
    }
  }
}

.social-nav {
  width: 6rem;
  height: 33vh;
  top: 33vh;

  padding: 1.5vh 0;

  li {
    height: 5vh;

    a {
      height: 5vh;

      .mdi {
          height: 5vh;
          line-height: 5vh;
      }

      .mdi.alt-social {
        color: $secondary-color;
      }

      .mdi:hover {
        color: $secondary-color;
      }
    }
  }
}

@media #{$medium-and-up} {
    .side-nav.social-nav {
      transform: none;
    }
 }
